/build/
/phpunit.xml
/var/*
!/var/cache
/app/config/parameters.yml
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/bower
/web/docs
data
*.sh
/phpcs.xml
/nbproject
