{% if contributions | length > 0 %}
    <h2>Contributions</h2>
    <ul>
        {% for contribution in contributions %}
            <li>
                {% include partial %}
            </li>
        {% endfor %}
    </ul>
{% endif %}