{% extends 'base.html.twig' %}

{% block pageheader %}
    {% if homepage %}<h1>{{ homepage.title }}</h1>{% endif %}</h1>
{% endblock %}

{% block body %}

    {% if homepage %}
        {{ homepage.content|raw }}
    {% endif %}

{% endblock %}
