{% extends 'base.html.twig' %}

{% block title %}People{% endblock %}

{% block pageheader %}
    <h1>People List</h1>
    <p class="count">
        Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    {% include 'partial/search.html.twig' with {'route': 'people_search', 'label': 'Name search'} %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('people_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    {% include 'people/partial/table.html.twig' %}


    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>

{% endblock %}
