{% extends 'base.html.twig' %}

{% block title %}People Search{% endblock %}

{% block pageheader %}
    <h1>People Search</h1>
    {% if people|length %}
        <p class="count">
            Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'partial/search.html.twig' with {'route': 'people_search', 'label': 'Name search'} %}

    {% include 'people/partial/table.html.twig' %}

    {% if people|length > 0 %}
        <div class="navigation">
            {{ knp_pagination_render(people) }}
        </div>
    {% endif %}

{% endblock %}
