{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block pageheader %}
    <h1>Book List</h1>
    <p class="count">
        Displaying {{ books|length }} books of {{ books.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    {% include 'partial/search.html.twig' with {'route': 'book_search', 'label': 'Title search'} %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('book_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    {% include('book/partial/table.html.twig') %}

    <div class="navigation">
        {{ knp_pagination_render(books) }}
    </div>

{% endblock %}
