{% extends 'base.html.twig' %}

{% block title %}Book Search{% endblock %}

{% block pageheader %}
    <h1>Book Search</h1>
    {% if books|length %}
        <p class="count">
            Displaying {{ books|length }} books of {{ books.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'partial/search.html.twig' with {'route': 'book_search', 'label': 'Title search'} %}

    {% include 'book/partial/table.html.twig' %}

    {% if books|length %}
    <div class="navigation">
        {{ knp_pagination_render(books) }}
    </div>
    {% endif %}

{% endblock %}
